.MainContent {
    width: 100%;
    margin-left: 200px;
}

.Header {
    padding: 20px;
    background: var(--white);
    color: var(--titleText);
    border-bottom: 1px solid var(--titleBorder);
}

.Info {
    margin: 20px;
    color: var(--titleText);
    line-height: 25px;
}